<div class="bg--top">
	<img src="/assets/bg-pattern-top.svg" alt="">
</div>
<div class="bg--bottom">
	<img src="/assets/bg-pattern-bottom.svg" alt="">
</div>

<main class="showcase">
	<article class="profile">
		<div class="profile--header">
			<img src="/assets/bg-pattern-card.svg" alt="" class="background">
			<img src="/assets/image-victor.jpg" alt="" class="avatar">
		</div>

		<div class="profile--personal">
			<h1 class="name" data-age="26">Victor Crest</h1>
			<p class="location">London</p>
		</div>

		<div class="profile--social">
			<div class="col">
				<span class="number">80K</span>
				<span class="type">Followers</span>
			</div>

			<div class="col">
				<span class="number">803K</span>
				<span class="type">Likes</span>
			</div>

			<div class="col">
				<span class="number">1.4K</span>
				<span class="type">Photos</span>
			</div>
		</div>
	</article>
</main>